In [1]:
import sys, os
import requests
import pandas as pd

In [2]:
import numpy as np
from dotenv import load_dotenv

In [3]:
from pathlib import Path
load_dotenv()
print(".env loaded (if present)")

.env loaded (if present)

In [4]:
import os
api_key = os.getenv("OPENAI_API_KEY")
print(api_key)  # 验证是否成功加载

J1O8X0E685L3S8PD

In [5]:
raw_dir = os.getenv("DATA_DIR_RAW")
processed_dir = os.getenv("DATA_DIR_PROCESSED")
print(raw_dir)
print(processed_dir)

C:\Users\Zhangchensi\bootcamp_Chensi_Zhang\data\raw
C:\Users\Zhangchensi\bootcamp_Chensi_Zhang\data\processed

In [6]:
df = pd.read_csv('C://Users/Zhangchensi//bootcamp_Chensi_Zhang//data//starter_data.csv')
df

  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05
5        C     30  2025-08-06
6        A     11  2025-08-07
7        B     14  2025-08-08
8        C     28  2025-08-09
9        A     13  2025-08-10

In [7]:
file_name = "formats1.csv"
full_path = os.path.join(raw_dir, file_name)
df.to_csv(full_path)

In [8]:
file_name2 = "formats2.csv"
full_path2 = os.path.join(processed_dir, file_name2)
df.to_parquet(full_path2)

In [9]:
formats1 = pd.read_csv(full_path)
formats1

   Unnamed: 0 category  value        date
0           0        A     10  2025-08-01
1           1        B     15  2025-08-02
2           2        A     12  2025-08-03
3           3        B     18  2025-08-04
4           4        C     25  2025-08-05
5           5        C     30  2025-08-06
6           6        A     11  2025-08-07
7           7        B     14  2025-08-08
8           8        C     28  2025-08-09
9           9        A     13  2025-08-10

In [10]:
formats2 = pd.read_parquet(full_path2)
formats2

  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05
5        C     30  2025-08-06
6        A     11  2025-08-07
7        B     14  2025-08-08
8        C     28  2025-08-09
9        A     13  2025-08-10

In [11]:
def validate_data(original_df, reloaded_df):
    print(f"形状一致: {original_df.shape == reloaded_df.shape}")
    print(f"类型一致: {original_df.dtypes.equals(reloaded_df.dtypes)}")
    print(f"首行一致: {original_df.iloc[0].equals(reloaded_df.iloc[0])}")
    return all([
        original_df.shape == reloaded_df.shape,
        original_df.dtypes.equals(reloaded_df.dtypes),
        original_df.iloc[0].equals(reloaded_df.iloc[0])
    ])

In [12]:
validate_data(df, formats1)

形状一致: False
类型一致: False
首行一致: False

False

In [13]:
formats1 = formats1.iloc[:, 1:] 
formats1

  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05
5        C     30  2025-08-06
6        A     11  2025-08-07
7        B     14  2025-08-08
8        C     28  2025-08-09
9        A     13  2025-08-10

In [14]:
validate_data(df, formats1)

形状一致: True
类型一致: True
首行一致: True

True

In [15]:
validate_data(df, formats2)

形状一致: True
类型一致: True
首行一致: True

True

In [16]:
def write_df(df, file_path):
    if file_path.endswith('.csv'):
        df.to_csv(file_path)
    elif file_path.endswith('.parquet'):
        df.to_parquet(file_path)

def read_df(file_path):
    if file_path.endswith('.csv'):
        df = pd.read_csv(file_path)
    elif file_path.endswith('.parquet'):
        df = pd.read_parquet(file_path)