In [12]:
import numpy as np
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()

False

In [13]:
df = pd.read_csv('C://Users/Zhangchensi//bootcamp_Chensi_Zhang//data//starter_data.csv')
df

  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05
5        C     30  2025-08-06
6        A     11  2025-08-07
7        B     14  2025-08-08
8        C     28  2025-08-09
9        A     13  2025-08-10

In [14]:
RAW_DIR = os.getenv('DATA_DIR_RAW')
print(RAW_DIR)

None

In [15]:
df.to_csv('C://Users/Zhangchensi//bootcamp_Chensi_Zhang//data//processed//summary.csv')